<ul id="header" class="fade-in" data-fade-delay="500">
  <div style="position: relative">
    <div class="logo-right"><a href="/" style="font-family:Canela-Light;font-weight:100;text-decoration:none;">DEAD BUT COOL</a></div>
  </div>
  <div id="deskmenu" class="navigation navigation-desk navigation-tablet navigation-main">
    <li><%= link_to "WORKS", works_path, class: 'nav' %></li>
    <li><%= link_to "INFO", info_path, class: 'nav' %></li>
    <li><%= link_to "CONTACT", contact_path, class: 'nav' %></li>
  </div>
  <div class="navigation navigation-mobile navigation-main">
    <li id="menu-toggle" class="openbtn" >MENU</li>
  </div>
  <div id="deskmenu-project" class="navigation navigation-mobile navigation-desk navigation-tablet navigation-project">
    <li><a id="viewcase" href="#" >VIEW PROJECT CASE</a></li>
    <li><a id="closebtn" style="right: 0;" onclick="return false;"> CLOSE</a></li>
  </div>

</ul>
   <div id="myNav" class="overlay">

  <div class="overlay-content">
     <%= link_to "WORKS", works_path %>
     <%= link_to "INFO", info_path, id: "info" %>
     <%= link_to "CONTACT", contact_path, id: "contact" %>
  </div>

  <div class="social" style="white-space: nowrap;display: inline-block;">
    <p> <span class="youtube">YOUTUBE</span>&nbsp;<span class="facebook">FACEBOOK</span>&nbsp;<span class="soundcloud">SOUNDCLOUD</span></p>
  </div>
</div>

