<% provide(:title, "CONTACT") %>
<div class="static-contact">
<div class="content">
	<div class="mailandtel">
  <h1 style="margin:0;">
  	General inquiries:
	<a href="mailto:info@deadbutcool.com"><h1 class="contact-link">info@deadbutcool.com</h1></a>
	<br>
	Business inquiries:
	<a href="mailto:hello@deadbutcool.com"><h1 class="contact-link">hello@deadbutcool.com</h1></a>
	<br>
	<a href="tel:+7-322-674-88-03"><h1 class="contact-link">Tel.: +7 322 674 88 03</h1></a>
	</h1></div>

	<div class="info">
		<p id="column1">We always looking forward to communicate.  Don’t hesitate to write us directly
		<p >Or keep in touch via <span class="facebook">Facebook</span>, <span class="soundcloud">  Soundcloud</span> or <span class="youtube">Youtube</span>
	</div>

</div>

</div>