<div>
<div class="static fade-in" data-fade-delay="1000">
  <h1>Independent studio crafting sound-design and music for Fendi, Mercedes, Durex, Adidas and <a href="/works" style="word-wrap: break-word;color: white;font-family: Favorit_Regular;font-style: normal;font-stretch: normal;font-weight:100;line-height: 1;letter-spacing: normal;font-size: inherit;border-bottom: 4px solid #fff;display: inline-block;">more</a></h1>
</div>
<div id="slider-wrapper" class="loading"  style="position:relative;">
  <div id="curtain" style=" z-index: 2; position: absolute; top:0; cursor: default; ">
  </div>
<div id="empty-space" style="position: absolute; z-index: 1;
    bottom: 0;
    height:100%;
    width: 100%;
    cursor: pointer;
    ">
  </div>
  <div class="slider" style="position:relative;">
    <% @projects.each_with_index do |project, index| %>
      <li>
        <div class="top" style="position:relative;">
          <div class="wrapper" data-title="<%= project.title.upcase %>" data-title-next="<%= project.next.title.upcase %>" data-title-prev="<%= project.previous.title.upcase %>" style="position:relative;">
              <div class='video' data-video-id="<%= project.link %>"></div>
          </div>
        </div>
        <%= link_to "VIEW PROJECT CASE", project_path(project), class: 'viewcase', style: "display:none;" %>
      </li>
    <% end %>
  </div>
 
<div class="bottom-left bx-prev fade-in" data-fade-delay="2250">
  <img class="slider-controls" src="assets/icon-previous-mobile@3x.png" alt="Icon previous mobile@3x" width="100" height="50" />
</div>
  <div class="bottom-center fade-in" data-fade-delay="1500">
    <div id="playpause" class="play"> </div>
  </div>
  <div class="bottom-right bx-next fade-in" data-fade-delay="2250">
    <img class="slider-controls" src="assets/icon-next-mobile@3x.png" alt="Icon next mobile@3x" width="100" height="50" />
  </div>

  <p class="project-title top-left" style="left:0;">
    <span id="title-prev"></span>
  </p>

  <div class="project-title top-center" >
    <p id="top-center" class="fade-in"  style=" display: inline-block;line-height:1;">
      <img id="setvolume" src="assets/DBC_SOUNDOFF.svg" />
      <span id="title"></span>
    </p>
    
  </div>
  <p class="project-title top-right" style="right:0;">
    <span id="title-next"></span>
  </p>

</div>
</div>



<style>
 .control-left {
    width:150px;
  /*max-width: 8em; блок занимает ширину родителя, max-width её ограничивает */
  min-height: 2em;

  margin-right: 0;
 }
 .control-right  {  
  width:150px;
  /*max-width: 8em; блок занимает ширину родителя, max-width её ограничивает */
  min-height: 2em;

  margin-right: 0;
}
.section {
  width:100%;
  

  z-index:4545;
  position: absolute;
  bottom: 40%;
}

/*  COLUMN SETUP  */
.col {
  display: inline-block;
  
  

}



/*  GO FULL WIDTH BELOW 480 PIXELS */

</style>
















  
  












