<div class="grid">
  <% @projects.each do |project| %>

    <div class="img-item">

		<% if project.image.present? %>
		 
		<%= link_to (image_tag(project.image, class: 'img-responsive')), project, class: 'gallery' %> 

		 	<%= link_to(project) do %> 
				    <p class="brand">
				    	<%= project.brand.upcase %>
				    </p>
			<% end %> 

		<% else  %>

	<%= link_to(project) do %> 

				<div class="container">

					<div class="marquee">
						<h2><%= project.brand.upcase %></h2>

						<p><%= project.category %>
					</div>

					<div class="marquee" data-direction='right'>
						<h2><%= project.brand.upcase %></h2>

						<p><%= project.category %>
					</div>
					
					<div class="marquee">
						<h2><%= project.brand.upcase %></h2>

						<p><%= project.category %>
						</div>
					
					<div class="marquee" data-direction='right'>
						<h2><%= project.brand.upcase %></h2>

						<p><%= project.category %>
					</div>

					<div class="marquee">
						<h2><%= project.brand.upcase %></h2>

						<p><%= project.category %>
					</div>
					<div class="marquee" data-direction='right'>
                                                <h2><%= project.brand.upcase %></h2>

                                                <p><%= project.category %>
                                        </div>	
									

				</div>

			<% end %>
		<% end %>

	</div>
   
  <% end %> 

</div>






