	
<div class="project-top">
  <div id="slider-wrapper" class="loading"  style="position:relative;">
    <div style="position: absolute; z-index: 1;
        bottom: 0;
        height:100%;
        width: 100%;
    ">
    </div>
    <div style="width: 100%; overflow: hidden; position: relative; ">
      <li style="width: 100%;">
        <div class="top" style="position:relative;">
          <div class="wrapper" style="position:relative;">
            <iframe src="https://player.vimeo.com/video/<%= @project.link %>?title=0&byline=0&portrait=0&transparent=0&color=ffffff" width="640" height="480" frameborder="0"  webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
          </div>
        </div>
      </li>
    </div>
    <div class="bottom-center fade-in" data-fade-delay="1500">
      <div id="playpause" class="play"> </div>
    </div>
  </div>
</div>

<div class="proj--container">

<h1 class="proj-title"><%= @project.title %></h1>

<div class="info">
    <%= simple_format(@project.description, {}, wrapper_tag: "p") %>
</div>

<% if @project.projectimg? %>
    <div class="img_wrap">
        <%= image_tag @project.projectimg, class: 'project_img' %>
    </div>
<% else %>
　　 <%= nil %>
<% end %>

<% if @project.description2? %>
　　<div class="info"> 
    <%= simple_format(@project.description2, {}, wrapper_tag: "p") %>
</div>
　<% else %>
　　<%= nil %>
<% end %>

<% if @project.projectimg2? %>
  <div class="img_wrap">
    <%= image_tag @project.projectimg2, class: 'project_img' %>
  </div>
<% else %>
　　 <%= nil %>
<% end %>

<div class="credits">


  <h1>Credits:<br>
<%if @project.credit1? %>
<% a = @project.credit1.split(":") %>

  <%= a[0] %>: 
  <%if @project.link1? %> 
  <%= link_to a[1], "#{@project.link1}", target: "_blank" %>
     <% else %>
       <%= a[1] %>
 <% end %><br>
<% end %>


<%if @project.credit2? %>
<% b = @project.credit2.split(":") %>

  <%= b[0] %>: 
  <%if @project.link2? %> 
  <%= link_to a[1], "#{@project.link2}", target: "_blank" %>
     <% else %>  
     <%= b[1] %>
 <% end %><br>
<% end %>

<%if @project.credit3? %>
<% c = @project.credit3.split(":") %>

  <%= c[0] %>: 
  <%if @project.link3? %> 
  <%= link_to c[1], "#{@project.link3}", target: "_blank" %>
     <% else %>  
     <%= c[1] %>
 <% end %><br>
<% end %>

<%if @project.credit4? %>
<% d = @project.credit4.split(":") %>

  <%= d[0] %>: 
  <%if @project.link4? %> 
  <%= link_to d[1], "#{@project.link4}", target: "_blank" %>
  <% else %>
  <%= d[1] %>
 <% end %><br>
<% end %>


<%if @project.credit5? %>
<% e = @project.credit5.split(":") %>

  <%= e[0] %>: 
  <%if @project.link5?  %> 
  <%= link_to e[1], "#{@project.link5}", target: "_blank" %>
   <% else %>  
   <%= e[1] %>
 <% end %><br>
<% end %>

<%if @project.credit6? %>
<% f = @project.credit6.split(":") %>

  <%= f[0] %>: 
  <%if @project.link6?  %> 
  <%= link_to f[1], "#{@project.link6}", target: "_blank" %>
     <% else %>
     <%= f[1] %>
 <% end %><br>
<% end %>

<%if @project.credit7? %>
<% g = @project.credit7.split(":") %>

  <%= g[0] %>: 
  <%if @project.link7?  %> 
  <%= link_to g[1], "#{@project.link7}", target: "_blank" %>
    <% else %> 
    <%= g[1] %>
 <% end %><br>
<% end %>


<%if @project.credit8? %>
<% h = @project.credit8.split(":") %>

  <%= h[0] %>: 
  <%if @project.link8? %> 
  <%= link_to h[1], "#{@project.link8}", target: "_blank" %>
    <% else %> 
    <%= h[1] %>
 <% end %><br>
<% end %>




<%if @project.credit9? %>
<% i = @project.credit9.split(":") %>

  <%= i[0] %>: 
  <%if @project.link9?  %> 
  <%= link_to i[1], "#{@project.link9}", target: "_blank" %>
   <% else %>  
   <%= i[1] %>
 <% end %><br>
<% end %>


<%if @project.credit10? %>
<% j = @project.credit10.split(":") %>

  <%= j[0] %>: 
  <%if @project.link10? %> 
  <%= link_to j[1], "#{@project.link10}", target: "_blank" %>
    <% else %> 
     <%= j[1] %>
 <% end %><br>
<% end %>

</h1>




</div>

<div class="container--flex" id="prev-next-brand">
<div class="flex-child" style="float:right;text-align: right;width:50%;">
    <%= link_to(project_url(@project.next)) do %>
                <div>
                    <p>  <%= @project.next.brand.upcase %>
                </div>
                <% end %>
</div>

</div>

<!-- PREVIOUS/NEXT on >=TABLET  view end
-->
<div class="container--flex" id="prev-next">
  <%= link_to(project_url(@project.previous)) do %>
                <div>
                     <p style="text-decoration: none;">PREVIOUS PROJECT
                </div>
                <% end %>
<div class="flex-child">
  
</div>


<div class="flex-child" style="text-align: right;">
    <%= link_to(project_url(@project.next)) do %>
                <div>
                     <p style="text-decoration: none;"> NEXT PROJECT
                </div>
                <% end %>
</div>

</div>







<div class="container--flex">
  <div class="flex-child" style="max-width: 100px;"> <div><%=   link_to (image_tag("icon-previous-mobile@3x.png", id: 'control-img', class: 'control', :style => "float:left;line-height:1em;", size: "100x50")), project_url(@project.previous) %>
</div></div>
  <div class="flex-child" style="margin-left:30px;max-width: 440px;text-align: left;word-break: break-all;">
    <%= link_to(project_url(@project.previous)) do %>
                <div class="brandlink">
                    <p style="    margin-bottom: 0px;text-decoration: none;"> <%= @project.previous.brand.upcase %>
                </div>
                <% end %>

</div>
   <div class="flex-child" style="width: auto;"></div>
    <div class="flex-child" style="margin-right:30px;max-width: 440px;text-align: right;word-break: break-all;">
    <%= link_to(project_url(@project.next)) do %>
                <div class="brandlink">
                    <p style="    margin-bottom: 0px;text-decoration: none;"> <%= @project.next.brand.upcase %>
                </div>
                <% end %>

</div>
   <div class="flex-child" style="max-width: 100px;"><div style="float:right;"> 
    <%= link_to (image_tag("icon-next-mobile@3x.png", id: 'control-img', class: 'control', :style => "float:right;line-height:1em;", size: "100x50")), project_url(@project.next) %>
</div></div>
</div>




</div>
<style>
  #maincontent {
    padding: 0 !important;
  }
</style>
