.marquee {
    width: 200%;
    overflow: hidden;
    transform: rotate(345deg);
    margin-left: -30px;
   
}

.container .marquee:first-child {
    margin-top:-100px;
   }

.container {
    width:100%;
    height: 100%;
   /*border: 1px solid red;*/
   overflow:hidden;
   text-align: center;
   color:white;
   max-height:500px;
}

.marquee p {
   font-family: 'Canela-Light';
   font-size:24px;
}

h2 {
  font-size: 24px;
  margin-top:0px;
  margin-bottom: 6px;
  font-weight:100;
  line-height:1;
}

.js-marquee {
margin-top: 28px;
}


