@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 2550px) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1500px) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 1200px) { @content ; }
  }
   @else if $point == phablet {
     @media (max-width: 1199px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 550px)  { @content ; }

  }
}


/* D E S K T O P */
@include breakpoint(desktop) {

}
/* Laptop */
@include breakpoint(laptop) {

#footer {
  margin-left:50px;
  z-index: 1;
}




}
/* Tablet */
@include breakpoint(tablet) {
#footer {
	margin-left:50px;
}
.push {
	margin-top:60px;
}
}

/* Phablet */
@include breakpoint(phablet) {
#footer {
	margin-left:20px;
}

.push {
	margin-top:50px;
}
}
/* Mobile */

@include breakpoint(mobileonly) {

#footer {
	margin-left:20px;
}

.push {
	margin-top:40px;
}
}
