	
*, *:after, *:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#slider-wrapper {
  position:relative;margin: 0 px-20px;

}
.slider li {
	padding-left: 0px;
}
  .static {
  margin:0px;
  margin-left: 25px;
  }
  .static h1 {
  margin:0px;
}
.bxslider li{ width:100%!important; }

.bx-viewport {

}
.viewcase {
  display:none;
}

 p.project-title.top-left {
    direction: rtl;

    overflow: hidden;
    text-overflow: clip;
}
 p.project-title.top-right {
    direction: ltr;

    overflow: hidden;
    text-overflow: clip;
}

#curtain {
  background: #000;
  width: 100%;
  z-index: 7;
  top:0;
  position:absolute;
  opacity: 1;
  cursor: pointer;
  margin-top: -2px;
}

.top-left, .top-center, .top-right {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 360px;
  z-index: 4545;
  span {
    white-space: nowrap;
  }
}

.top-right, .top-left {
  opacity: 0.5;
  width: 25%;
}
.top-left {
  left: 30px;
  text-align: right;

}
.top-right {
  right: 30px;
}
.top-center {
  width: 50%;

  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 4545;
  span {
    margin-left: 15px;
  }
}
#top-center {
  position: relative;
  padding-left: 20px;
  img {
    position: absolute;
    left: 0;
    
  }
}



#setvolume {
  cursor: pointer;
  line-height: 1em;
}

// DESKTOP
@media (min-width: 1201px) {
  .static {
        margin-top: 80px;
    position: absolute;
    z-index: 8;
    width: 70%;
  }
  #curtain {
    height: calc(100% - 40px);
  }
   #empty-space {
    height: 40px;
  }
  #slider-wrapper {
    margin-top: 30px;
    position: absolute;
  }
  #header a {
    font-size: 27px;
  }
  #header #menu {
    font-size: 27px;
  }
  #sound-control-center > img, #top-center > p {
    display: inline-block;
  }
  #setvolume {
    float: left;
    width: 24px;
    height: 24px;
    line-height:1;
  }
  .bottom-left, .bottom-right, .bottom-center {
    top: 450px;
    z-index: 4545;
  }
  .bottom-right {
    right:50px;
  }
  .bottom-left {
    left: 50px;
  }
  p.project-title.top-left {
    max-width:151px;
  }
  p.project-title.top-right {
    max-width:151px;
  }
}

// TABLET
@media (max-width: 1200px) {
  #header a {
    font-size: 27px;
  }
  #header #menu {
    font-size: 27px;
  }
  #curtain {
    height: calc(100% - 40px);
  }
  #empty-space {
    height: 40px;
  }
  .static {
    margin: 0px;
    position: static;
    z-index: 88;
    width:83%;
  }
  .bottom-left, .bottom-right, .bottom-center {
    bottom: 30%;
    z-index: 4545;
  }
  .bottom-right {
    right:20px;
  }
  .bottom-left {
    left: 20px;
  }
  #setvolume {
    /* margin-left: 20px; */
    /* position: absolute; */
    width: 24px;
    height: 24px;
    line-height: 1em;
  }
  #slider-wrapper {
    margin-top:15px;
    margin-left:-20px;
    margin-right:-20px;
  }
  p.project-title.top-left {
   
    
    max-width:120px;
   
}
  p.project-title.top-right {
   
    
    max-width:120px;
   
}
    div.project-title.top-center {
          /* top: 170px;*/
  }
    .bottom-left, .bottom-right, .bottom-center {
    bottom: 30%;
    z-index: 4545;
  }
    .top-right, .top-left {
    display:none !important;
  }
    .top-center {
    width: 100%;
    float:left;
    left:0;
  }
  #top-center {
      position: relative;
    padding-left: 20px;
    float: left;
    margin-left: 20px;
  }
   div.project-title.top-center {
      
  }
}

// PHABLET
@media (max-width: 800px) {


  #slider-wrapper {
    margin-top:0px;
    margin-left:-20px;
    margin-right:-20px;
  }
  #curtain {
       height: calc(100% - 40px);
  }

  .bottom-left, .bottom-right, .bottom-center {
    bottom: 30%;
    z-index: 4545;
  }
  .bottom-right {
    right:20px;
  }
  .bottom-left {
    left: 20px;
  }
  #setvolume {
    width: 26px;
    height: 26px;
  }
  .centered-title{
    position: absolute;
    bottom: 59%;
    margin-left:60px;
    z-index: 4545;
    font-size: 24px;
  }

  .static {
    position: static;
    z-index: 8;
    width: 88%;
    margin-bottom:70px;
  }
  .static h1 {
    font-size: 60px;
    
  }
  #header a {
    font-size: 24px;
    
  }


  .top-right, .top-left {
    display:none !important;
  }

  .top-center {
    width: 100%;
    float:left;
    left:0;
  }
  #top-center {
      position: relative;
    padding-left: 20px;
    float: left;
    margin-left: 20px;
  }
    div.project-title.top-center {
         /* top: 80px;*/
  }
}

/////// M O B I L E
@media (max-width: 600px) {
  #header a {
    font-size: 19px;
  }
  #header #menu {
    font-size: 19px;
  }
  .top-center {
    float:left;
    left:0;
        top: 0px;
  }
  .static h1 {
    font-size:34px;
    letter-spacing: -0.18;
  }
  .static {
    width:95%;
    margin-bottom:50px;
  }
  #curtain {
  height: 80%;
  }


.slider-controls {
   width: 62px;
  height: 28px;
  object-fit: contain;
}

#slider-wrapper {
  margin-left:-20px;
  margin-right:-20px;
}

#setvolume {
  width: 17px;
  height: 17px;
  bottom: 75%;
  top: -3px;
}

.centered-title{
  position: absolute;
  bottom: 70%;
  margin-left:50px;
  z-index: 4545;
  font-size: 13px;
}

#playpause {
   width: 36px;
  height: 36px;
}
.centered {
  position: absolute;
  z-index:9999;
}


  #top-center {
      position: relative;
    padding-left: 20px;
    float: left;
    margin-left: 20px;
    font-size:13px;
  }

  .bx-wrapper {
    height: 100vh;
    content: 'viewport-units-buggyfill; height: 100vh;';
  }
  #slider-wrapper {
    overflow: hidden;
  }
}




