	.top {
  padding-bottom: 42.33%;
  height: 0;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}
.project-top {
  padding-bottom: 42.33%;
  height: 0;
  overflow: hidden;
  position: relative;
  margin-left:-20px;
  margin-right:-20px;
  object-fit: cover;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.wrapper {
  position: relative;
  padding-bottom: 200%;
  transform: translateY(-35.95%);
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bottom-center, .bottom-left, .bottom-right {
  cursor: pointer;
  position: absolute;
}

.bottom-center {
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60px;
  height: 60px;
}
.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centeredcontrol {
  color:red;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider li {
  padding: 0;
}

.bx-controls-direction, .bx-pager {
  display:none;
}

#slider {
  margin-left: -20px;
  margin-right: -20px;
}

.project-title {
  display: none;
}

@media (max-width: 600px) {
  .bottom-left, .bottom-right, .bottom-center {
        bottom: 50px;
  }
  .bottom-right {
    right:20px;
  }
  .bottom-left {
    left: 20px;
  }

  .bottom-center {
    position: absolute;
    z-index: 4545;
    width: 36px;
    height: 36px;
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#playpause {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &.play {
    background-image: url('/assets/icon-play-desktop@3x.png');
  }
  &.pause {
    background-image: url('/assets/icon-pause-desktop@3x.png');
  }
}

#playpause, .slider-controls, .project-title {
  -webkit-transition: opacity .4s ease-in;
  -moz-transition: opacity .4s ease-in;
  -ms-transition: opacity .4s ease-in;
  -o-transition: opacity .4s ease-in;
  transition: opacity .4s ease-in;
}
.loading {
  #playpause, .slider-controls, .top-center{
    opacity: .15;
  }
  .top-left, .top-right {
    opacity: 0;
  }

  #playpause {
    background-image: url('/assets/icon-loader@2x.png');
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity .4s ease-in;
  -moz-transition: opacity .4s ease-in;
  -ms-transition: opacity .4s ease-in;
  -o-transition: opacity .4s ease-in;
  transition: opacity .4s ease-in;
  &.done {
    opacity: 1;
  }
  &.no-transition {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;

  }
}

@media (min-width: 1201px) {
  .bx-slider {
    height: 100vh;
    min-height: 700px;
  }
  .top {
    height: 100vh;
    min-height: 700px;

  }
  .static {
    margin-top: 140px;
    width: 82%;
  }
  #maincontent {
    position: relative;
    height: 100vh;
    min-height: 700px;
    margin: 0 20px !important;
  }
  #footer {
    display: none;
  }
  .push {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #000;
    margin: 0 !important;
  }
  #slider-wrapper {
    margin-top: 0;
  }
  .wrapper {
    height: 100%;
    padding: 0;
    transform: none;
  }
  .top {
    padding: 0;
  }
  li iframe {
    max-width: 100%;
    min-height: 5000px;
    top: 50%;
    transform: translateY(-50%);
  }
  #curtain {
    height: calc(100% - 135px);
  }
  .bottom-left, .bottom-right, .bottom-center {
    top: auto;
    bottom: 190px;
  }
  .top-left, .top-center, .top-right {
    top: auto;
    bottom: 260px;
  }
  body {
    position: relative;
  }


  .project-top {
    position: relative;
    margin-top: 0 !important;
    height: 100vh;
    min-height: 700px;
    padding: 0;

  }
}

@media (max-width: 1200px) {
  .static {
    position: absolute !important;
    width: 100%;
    top: 86px;
    left: 0;
  }
  .bx-slider {
    height: 100vh;
    content: 'viewport-units-buggyfill; height: 100vh;';
  }
  .top {
    height: 100vh;
    content: 'viewport-units-buggyfill; height: 100vh;';

  }
  .wrapper {
    padding-bottom: 0;
  }
  #maincontent {
    position: relative;
    margin: 0 20px 0 20px !important;
    padding: 86px 0;
    box-sizing: border-box;
    height: 100vh;
    content: 'viewport-units-buggyfill; height: 100vh;';
  }
  #slider-wrapper {
    margin: -86px -20px 0;
  }
  li iframe {
    max-width: none;
    height: 135vh;
    width: 240vh;
    margin-left: 50%;
    transform: translateX(-50%);
    content: 'viewport-units-buggyfill; height: 135vh; width: 240vh;';
  }
  .push {
    display: none;
  }
  #curtain {
    height: calc(100% - 124px);
  }
  #footer {
    position: absolute;
    bottom: 0;
    background: #000;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 30px 20px;
    p {
      opacity: 0;
      margin: 0;
    }
  }
  .bottom-left, .bottom-right, .bottom-center {
    bottom: 180px;
  }

  .project-title {
    top: auto !important;
    bottom: 30px !important;
    padding: 0 20px;
    p {
      float: none !important;
      margin: 0 auto !important;
    }
  }
  .project-top {
    position: relative;
    margin-top: 0 !important;
    height: 100vh;
    min-height: 700px;
    padding: 0;
  }
}

@media (max-width: 550px) {
  .static {
    position: absolute !important;
    width: 100%;
    top: 60px;
    left: 0;
  }
  #maincontent {
    position: relative;
    margin: 0 20px 0 20px !important;
    padding: 60px 0;
    box-sizing: border-box;
    height: 100vh;
    content: 'viewport-units-buggyfill; height: 100vh;';
  }
  #slider-wrapper {
    margin: -60px -20px 0;
  }
  li iframe {
    height: 130vh;
    width: 232vh;
    margin-top: -15vh;
    margin-left: 50%;
    transform: translateX(-50%);
    content: 'viewport-units-buggyfill; height: 130vh; width: 232vh; margin-top: -15vh;';
  }
  #curtain {
    height: calc(100% - 100px);
  }
  #footer {
    position: absolute;
    bottom: 0;
    background: #000;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 20px;
    p {
      opacity: 0;
      margin: 0;
    }
  }
  .bottom-left, .bottom-right, .bottom-center {
    bottom: 145px;
  }
  .project-title {
    top: auto !important;
    bottom: 20px !important;
    p {
      float: none !important;
      margin: 0 auto !important;
    }
  }
  .project-top {
    position: relative;
    margin-top: 0 !important;
    height: 100vh;
    min-height: 700px;
    padding: 0;
  }
}


/* SEVERAL FIXES */

/* Fixing "more" link on Homepage */
.static h1 a:hover {
  text-decoration: none;
}

/* Adding additional media query */
@media (min-width: 1001px) and (max-width: 1200px) {
  .static {
      position: absolute !important;
      width: 100%;
      top: 140px;
  }
  .project-title {
    top: auto !important;
    bottom: 280px !important;
  }
}
#footer {
  z-index: 1;
}


