	
html {
    
    background-color: #000000;
    
}

body {
  margin: 0px;
  padding: 0px;
 
}




@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 2550px) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 1199px) { @content ; }
  }
  @else if $point == phablet {
    @media (max-width: 779px)  { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 550px)  { @content ; }

  }
}




    /* D E S K T O P */
@include breakpoint(desktop) {
  #header,
  body {
    width: 70%;
    margin: auto !important;
  }

  #deskmenu a {
    font-size: 27px;
  }

  .mainandtel {
    width: 50%;
  }

  #maincontent {
    margin: 0 50px;
  }

}
/* L A P T O P */
@include breakpoint(laptop) {


  .mainandtel {
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
  }

  #maincontent {
    margin: 100px 20px 0;
  }

  .prev-next-container a {
    font-size: 24px;
  }

  .independent {
    width: 65%;
  }

  .info-container,
  .static-info {
    margin: 180px 30px 30px;
  }

  .project-top {
    margin-top: 180px;
  }
  .info {
    column-count: 2;
    column-gap: 80px;
    margin-right: 150px;
  }

  .credits {
    margin-top:120px;
    margin-bottom: 60px;
  }
  .info {
    margin-top: 60px;
  }
  .prev-next-container {
    display:grid;
    grid-template-columns: 250px auto 250px;
  }
  .proj--container {
    margin: 80px 40px 40px 40px;
  }
}
/* T A B L E T */
@include breakpoint(tablet) {
  #maincontent {
    margin: 180px 20px 0;
  }

  p a {
    font-size: 24px;
  }

  .mainandtel {
    margin-bottom: -10px;
  }
  .info {
    column-count: 1;
    margin-right: 150px;
  }
  .info p:first-child {
    margin-bottom:30px;
  }

}
/* M O B I L E P L U S*/
@include breakpoint(phablet) {
  #maincontent {
    margin: 170px 20px 0;
  }

  .info-container {
    margin-top: 80px;
  }
  .info {
    margin-right: 0;
  }
  .credits {
    margin-bottom: 70px;
  }
  .prev-next-container {
    display: none;
  }
  .info {
    margin-top:40px;
  }
  .project-top {
    margin-top: 110px;
  }
}
/* M O B I L E */

@include breakpoint(mobileonly) {

  .info-container {
    margin-top: 60px;
    letter-spacing: -0.188888892531395px;
  }

  .prev-next-container {
    display: none;
  }
  #maincontent {
    margin-top: 110px;
  }
  .project-top {
    margin-top: 110px;
  }
  .static-info{
    margin-top: 60px;
  }
  .info {
    margin-top:40px;
  }
  .proj-title {
    margin-top: 60px;
  }

  .img_wrap {
    margin-top:40px;
  }
  .credits {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

@media (max-width: 1000px) {
  .static {
    margin: 0;
    top: 0;
    height: calc(100% - 200px);
    display: table;
    h1 {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

@media (max-width: 600px) {
  .static {
    height: calc(100% - 170px);
  }
}



