
@import 'header';
@import 'footer';
@import 'works';
@import 'home';
@import 'homeslider';
@import 'player';
@import 'project';
@import 'static';
@import 'info';
@import 'contact';
@import 'category';

/* Fonts */

@font-face {
  font-family: 'Canela-Light';
  src: font-url("Canela-Light.otf");
  src: font-url("Canela-Light.otf?#iefix") format("embedded-opentype"), font-url("Canela-Light.woff") format("woff"), font-url("Canela-Light.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Favorit_Regular';
  src: font-url("Favorit_Regular.otf");
  src: font-url("Favorit_Regular.otf?#iefix") format("embedded-opentype"), font-url("Favorit_Regular.woff") format("woff"), font-url("Favorit_Regular.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* Universal */



a {
  color:white;
  font-family: "Canela-Light";
  
  text-decoration:none;
  -webkit-font-smoothing: antialiased;
  &:hover {
  text-decoration:underline;
  
  }
}

h1 {
  overflow-wrap: break-word;
  line-height: 1;
  color: white;
  font-weight: 100;
  text-align: left;
  font-family: "Favorit_Regular";
  -webkit-font-smoothing: antialiased;
}

h2 {
    
  font-family: "Favorit_Regular";
  line-height: 1;
  text-decoration:none;
  -webkit-font-smoothing: antialiased;
    &:hover {
  text-decoration:none;
  
  }

}

p {
  margin-top: 0;
  line-height: 1;
  color: white;
  font-family: "Favorit_Regular";
  -webkit-font-smoothing: antialiased;
}





 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 2550px) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1500px) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 1200px) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 551px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 550px)  { @content ; }

  }
}


/* D E S K T O P */
@include breakpoint(desktop) {
body, #header {
  
  width: 70%;
  margin:auto!important;
}

#deskmenu a {
  font-size:27px;
  
  }
  
  .mailandtel {
    width: 50%;
    margin:auto;
    margin-bottom: 50px;
  }




}
/* L A P T O P */
@include breakpoint(laptop) {
 .slider-wrap {
 /*padding-top:50px;*/
 }





}
/* T A B L E T */
@include breakpoint(tablet) {
.next-project, .prev-project {
  display: block;
  }
h1 {
    font-size: 60px;
  }
p {
    font-size: 24px;
  }



.static-contact{
  margin-bottom: 0;
  margin: 180px 30px 30px;
}

  

.grid {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 180px;
}





  .imgcontent {
  padding-top: 120px;
  margin-left: -10px;
  margin-right: -10px;
  }
  
 



}
/* M O B I L E P L U S*/
@include breakpoint(phablet) {


  h1 {
    font-size: 60px;
  }
  p {
    font-size: 24px;
  }


.centered {
    z-index:1488;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: none;
}


}
/* M O B I L E */

@include breakpoint(mobileonly) {
 h1 {
    font-size: 34px;
  }
  p {
    font-size: 19px;
  }
  .content {
      
  }
  .mailandtel {
    width:100%;
  }
  #project_slide {
  display:none!important;
}





.static {
  position: static;

}

.centered p {
  font-size: 13px;
}

#control-img {
   width: 62px;
  height: 29px;
}
#playpause {
    width: 32px;
  height: 32px;
}
.slider-controls {
width: 62px;
  height: 36px;
  }
  .bottom-left {
    position: absolute;
    left: 20px;
}



.centered {
    position: absolute;
    top: 30%;
    left: 20px;
    transform: none;
}

}







#contactus {
  display:inline-block;
}

.current {
  text-decoration:underline!important;
}

 /*.bx-controls {
  display: none!important;
  }
*/

  .hide {
    display: none;
}


.brandlink p {
  font-size: 60px;
  word-break: break-word;
}

.prev-next-container a {
  font-family: Favorit_Regular;

}
.prev-next-container a:hover {
text-decoration:none!important;
}
.prev-next-brand a {
  font-family: Favorit_Regular;

}
.prev-next-brand a:hover {
text-decoration:none!important;
}

#slider-wrapper {
  
  margin-left:-20px;
  margin-right:-20px;
}

body.modal-open {
  overflow-y: hidden;
}


