	/* contact */

.static-contact {
      color: white;
}
.mailandtel > h1 {
	margin: 0!important;
	
}

.contact-link {
	margin: 0!important;
}



@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 2550px) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1200px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 1199px) { @content ; }
  }
   @else if $point == phablet {
     @media (max-width: 779px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 550px)  { @content ; }

  }
}


/* D E S K T O P */
@include breakpoint(desktop) {
body, #header {
  
  width: 70%;
  margin:auto!important;
}

.mailandtel {
    width: 50%;
    margin:auto;
    margin-bottom: 50px;
}

}
/* Laptop */
@include breakpoint(laptop) {
 .mailandtel {
    
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
  }
.contact {
  
  margin: 180px 30px 30px 30px;
}



}
/* Tablet */
@include breakpoint(tablet) {
 

}

/* Phablet */
@include breakpoint(phablet) {


}
/* Mobile */

@include breakpoint(mobileonly) {


}

 

