	/* info */

#works-link {
	margin:0;text-decoration:underline;display:inline-block;
}


.info p {
    	line-height: 1.25;
}




@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 2550px) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1500px) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 1200px) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 551px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 550px)  { @content ; }

  }
}


/* D E S K T O P */
@include breakpoint(desktop) {
body, #header {
  
  width: 70%;
  margin:auto!important;
}

.mailandtel {
    width: 50%;
    margin:auto;
    margin-bottom: 50px;
}

}
/* Laptop */
@include breakpoint(laptop) {





}
/* Tablet */
@include breakpoint(tablet) {

}

/* Phablet */
@include breakpoint(phablet) {


}
/* Mobile */

@include breakpoint(mobileonly) {


}

