<!DOCTYPE html>
<html>
  <head>

    <title>DEAD BUT COOL</title>
    
   <%= render 'partials/meta' %>

  </head>

  <body>
  <%= render "partials/header" %>

  <div id="maincontent" class="fade-in" data-fade-delay="250">
    <%= yield %>
  </div>

  <div class="push"></div>
	<div id="footer">
		<p><br/></p>
	</div>

  <%= javascript_include_tag 'application' %>

  </body>


</html>



